In [5]:
#Function

In [8]:
def greet(User_name):
    print("Hi " + User_name + "!")
greet ("Sola")
greet ("Bola")
greet ("Tina")
greet ("Nancy")

Hi Sola!
Hi Bola!
Hi Tina!
Hi Nancy!

In [17]:
def name(animal):
    print("Welcome " + "to "+ "the " + "world " + "of " + animal)

name ("Dogs")
name ("Goats")
name ("Lion")
name ("Tiger")
name ("Cats")

Welcome to the world of Dogs
Welcome to the world of Goats
Welcome to the world of Lion
Welcome to the world of Tiger
Welcome to the world of Cats

In [31]:
def Edwin(a, b, c,d,e,f,g):
    return a+b+c+d+e+f+g

Edwin(10,20,5,16,46,88,0)

185

In [30]:
def Sum(x,y):
    return x+y
def multiply(m,n):
    return m*n
result = multiply(3,4) + Sum(1,2)
print(result)

15